*.sublime-project
*.sublime-workspace
/.obj
/BeatUpClient/.folderNameWithoutSpaces
/BeatUpClient/.obj
/BeatUpClient/.tmp
/BeatUpClient/BeatUpClient.csproj.user
/BeatUpClient/BeatUpClient.dll
/BeatUpClient/BeatUpClient.qmod
/BeatUpClient/bin
/BeatUpClient/extern
/BeatUpClient/extern.cmake
/BeatUpClient/libBeatUpClient.so
/BeatUpClient/makefile.user
/BeatUpClient/obj
/BeatUpClient/qpm.shared.json
/BeatUpClient/qpm_defines.cmake
/beatupserver*
/build.sh
/makefile.user
/test
