[Unit]
Description=Beat Saber Master Server
ConditionPathExists=/etc/beatupserver.json
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/beatupserver -c /etc/beatupserver.json --daemon
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
